@use "variables" as var;

/*Properties*/
@each $cn, $cv in var.$color{
    .color-#{$cn}{
        color: $cv;
    }
}

@each $pn, $pv in var.$properties{
    @each $cn, $cv in var.$color{
        .#{$pn}-#{$cn}{#{$pv}: $cv}
    }
}

/*General rules*/
*{
    font-family: var.$font;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

