@use "variables" as var;
@use "mixins" as mix;

/*Properties*/
@each $pn, $pv in var.$properties{
    @each $cn, $cv in var.$color{
        .#{$pn}-#{$cn}{#{$pv}: $cv}
    }
}

@each $t in var.$timings {
    @for $i from 1 through 4{
        .#{$t}-#{$i}{
            @include mix.transition($i * .25s, $t);
        }
    }
}

/*General rules*/
*{
    font-family: var.$font;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body, h1, h2, h3, h4,
header p {
    margin: 0;
}

:is(header, nav, footer) a{
    @extend .color-alternative;
    text-decoration: none;
}

html, body, main, header, nav{
    width: 100%;
}

html{
    font-size: 8px;
}

p{
    font-size: 1.5rem;
    font-weight: 300;
    color: map-get(var.$greys, first);
    text-align: center;
    padding: 2rem
}

img{
    max-width: 100%;
    max-height: 40vh;
}

li {
    list-style: none
}

button{
    @include mix.normalize();
    @extend .bg-alternative;
    width: 20rem;
    height: 4rem;
    color: white;
    font-size: 1.3rem;
    font-weight: 600;
    border-radius: 1rem;
    text-transform: uppercase;
}

.h{
    text-align: center;
    font-size: 4.8rem;
    font-weight: 700;
    color: map-get(var.$greys, first);
}

#modal{
    @include mix.flexbox();
    box-sizing: inherit;
    position: fixed;
    top: 35%;
    left: 18%;
    height: 20vh;
    min-width: 60%;
    background-color: map-get(var.$colorvar, fourth);
    border-radius: 1rem;
    z-index: 3;
    display: none;

    div{
        position: absolute;
        top: 1rem;
        right: 1.5rem;
        width: 30px;
        text-align: center;
        font-size: 3rem;
        border: black 1px solid;
        border-radius: 2px;
    }

    a{
        @extend .color-alternative;
        font-weight: 700;
    }
}

@media screen and (min-width: 768px) {
    html{
        font-size: 12px;
    }
    img{
        max-width: 500px;
    }

    header, section{
        div:not(.testimonios, .card){
            align-items: flex-start;

            p {
                padding-left: 0;
            }
            
            & .h, p{
            text-align: left;
            }   
        }
    }

    #modal{
        div{
            width: 40px;
        }
    }
}

@media screen and (min-width: 1200px) {
    html{
        font-size: 16px;
    }
}