@forward "general";
@use "variables" as var;
@use "mixins" as mix;

header{
    @include mix.flexbox($fd:column,);
    height: 100vh;
    background: radial-gradient(circle at 50% -80%, map-get(var.$colorvar, first), white 58%);
    margin-bottom: 5rem;
    
    & div {
        position: absolute;
        top: 22vh;
        @include mix.flexbox($fd:column, $g:4rem);
        
        & h1{
            @extend .h;
        }
    }   

    & img{
        position: absolute;
        bottom: 0;

        &#logo{
            @include mix.position(absolute, 2rem, 4vh);
            max-height: 2rem;
        }
    }
}

@media screen and (min-width: 768px) {
    header{
        background: radial-gradient(circle at 25% -70%, map-get(var.$colorvar, first), white 70%);
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 2rem;
        height: auto;
        padding-top: 22vh;
        & div{
            top:auto;
            gap: 0;
        }

        & div, img{
            position: relative;
            width: 45%;
            height: 45%;
        }
    }
    
    #logo{
        max-width: 3rem;
    }   
}

@media screen and (min-width: 1200px) {
    @keyframes animate {
        0%{
            opacity: 0;
            transform: scale(3, 3) translate(300px, 100px);
        }
        50%{
            transform: rotate(180deg);
        }
        90%{
            transform: scale(1.5, 1.5);
        }
    }
    body{
        background: radial-gradient(circle at 10% 0, map-get(var.$colorvar, first), white 20%);
    }
    header{
        background: none;
    }

    #logo{
        animation-name: animate;
        animation-duration: 5s;
    }
}