@forward "general";
@use "variables" as var;
@use "mixins" as mix;

main{
    section{
        @include mix.flexbox($fd:column, $g:3rem);
        margin-bottom: 5rem;
        
        h3{
            @extend .h;
        }

        div {
            @include mix.flexbox($fd:column, $g:4rem);
            
            h2, h3{
                @extend .h;
                padding: 2rem;
            }

            span {
                font-size: 3rem;
            }
        }

    }
}

.testimonios{
    width: 100%;
    gap: 0;
}
.card{
    @include mix.flexbox($fd:column);
    padding: 10px;
    max-width: 300px;
    max-height: 300px;
    background-color: map-get(var.$colorvar, fifth);
    border-radius: 3rem;
    box-shadow: 0 3px 3px 1px map-get(var.$greys, fifth);
    position: relative;
    
    img{
        width: 40%;
        border-radius: 50%;
    }
    
    p{
        padding: 0;
    }
    
    .nombre{
        font-weight: 400;
    }

    &-act{
        @include mix.flexbox();
        @extend .ease-2;
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        background-color: white;
        width: 100%;
        height: 100%;
        border-radius: 3rem;
        box-shadow: 0 3px 3px 1px map-get(var.$colorvar, third);

        &:hover{
            opacity: 1;
        }
    }
}

.equipo{
    display: none;
}

@media screen and (min-width: 768px) {
    main section{
        flex-direction: row;
        
        &:nth-child(1){
            img{
                order: -1;
            }
        }
        div, img{
            width: 45%;
            gap: 0;
        }

        div {
            h2, h3{
                padding: 2rem 0;
            }
        }
    }
    
    .card{
        max-width: 330px;
        max-height: 330px;
    }
    .equipo{
        display: flex;
    }

    .card-act{
        justify-content: center;
    }
}

@media screen and (min-width: 1200px) {
    .card{
        max-width: 440px;
        max-height: 440px;
    }
}