@forward "general";
@use "variables" as var;
@use "mixins" as mix;

main{
    & section{
        @include mix.flexbox($fd:column, $g:3rem);
        height: 100vh;
        
        & div {
            @include mix.flexbox($fd:column, $g:4rem);
            
            & h2, h3{
                @extend .h;
                padding: 2rem;
            }

            & span {
                font-size: 3rem;
            }
        }

        &.testimonios{
            height: 200vh;
        }
    }
}