@forward "general";
@use "variables" as var;
@use "mixins" as mix;

main{
    & section{
        @include mix.flexbox($fd:column, $g:3rem);
        height: 100vh;
        
        h3{
            @extend .h;
        }

        & div {
            @include mix.flexbox($fd:column, $g:4rem);
            
            & h2, h3{
                @extend .h;
                padding: 2rem;
            }

            & span {
                font-size: 3rem;
            }
        }

        &.testimonios{
            height: 140vh;

        }
    }
}
.card{
    @include mix.flexbox($fd:column);
    padding: 10px;
    max-width: 300px;
    max-height: 300px;
    background-color: map-get(var.$colorvar, fifth);
    border-radius: 3rem;
    box-shadow: 0 3px 3px 1px map-get(var.$greys, fifth);
    
    & img{
        width: 40%;
        border-radius: 50%;
    }

    & p{
        padding: 0;
    }

    & .nombre{
        font-weight: 400;
    }
}

.equipo{
    display: none;
}