@forward "general";
@use "mixins" as mix;

nav{
    @include mix.flexbox($fd:column, $ai:flex-start,$jc:space-arraound, $g:1.5rem);
    @include mix.normalize($pv:2rem);
    @include mix.position(absolute,$z:1);
    @extend .ease-2;
    height: 20vh;
    background-color: white;
    transform: translatey(-100%);

    &.active{ 
    transform: translatey(0);
    }

    & a{
        font-size: 1.5rem;
    }
}

.burguerline{
    @extend .bg-alternative;
    @extend .ease-4;
    position: absolute;
    top: .75rem;
    width: 4rem;
    height: 4px;
    border-radius: 3px;    
}

.btn{    
    @include mix.position(absolute, 1rem, 2rem, right);
    z-index: 1;
    height: 4.5rem;
    width: 4.5rem;

    &-burguer{
        @extend .burguerline;

        &::before{
            @extend .burguerline;
            content: '';
            top: -10px;
        }

        &::after{
            @extend .burguerline;
            content: '';
            top: 10px;
            width: 3rem;
        }

        &.open{
            transform: rotate(720deg);
            background: transparent;

            &::before{
                transform: rotate(45deg) translate(5px, 10px);
            }

            &::after{
                width: 4rem;
                transform: rotate(-45deg) translate(3px, -10px);
            }
        }
    }
}