@forward "general";
@use "mixins" as mix;

nav{
    @include mix.flexbox($fd:column, $ai:flex-start, $g:1em);
    @include mix.normalize($pv:1em);
    position: absolute;
    height: 25vh;
    border: solid 1px black;
    background-color: white;
}

.burguerline{
    @extend .bg-alternative;
    position: absolute;
    top: .75em;
    width: 2em;
    height: 4px;
    border-radius: 3px;
    //transition
}

.btn{    
    @include mix.position(absolute, .5em, .5em, right);
    z-index: 1;
    height: 2em;
    width: 2em;
    //agregar el transition

    &-burguer{
        @extend .burguerline;

        &::before{
            @extend .burguerline;
            content: '';
            top: -10px;
        }

        &::after{
            @extend .burguerline;
            content: '';
            top: 10px;
            width: 1.65em;
        }

        &.open{
            transform: rotate(720deg);
            background: transparent;

            &::before{
                transform: rotate(45deg) translate(5px, 10px);
            }

            &::after{
                width: 2em;
                transform: rotate(-45deg) translate(3px, -10px);
            }
        }
    }
}