$font: 'Inter', sans-serif;
$color:
    primary #0A2FF1,
    alternative #04146C,
    secondary #3ffff3;
$greys:
    first #15163D,
    second #414166,
    third #71718D,
    fourth #9797AE,
    fifth #C5C5CD,
    sixth #EEEEEE,
    seventh #F8F8F8;
$colorvar:
    first #3957F1,
    second #5974FF,
    third #8A9AF1,
    fourth #C9D1FF,
    fifth #EFF2FF,
    sixth #EDF744;
$properties:
    color color,
    bg background-color,
    border border-color;
